<div class="container">
  <h1>New restaurant: </h1>
  <%= simple_form_for [@restaurant] do |form| %>
    <%= form.input :name %>
    <%= form.input :address %>
    <%= form.input :phone_number %>
    <%= form.input :category %>
    <%= form.submit %>
  <% end %>
</div>
