<section class="show-restaurant">
  <h2>Restaurant : <%= @restaurant.name %></h2>
  <h5>Reviews : </h5>
  <ul>
    <% @reviews.each_with_index do |item, index| %>
      <article class="restaurant-review-article">
        <p><strong><%= index + 1%></strong></p>
        <p><%= item.content %></p>
        <p><%= item.rating_stars %></p>
      </article>
    <% end %>
  </ul>
  <%= link_to "add a review for #{@restaurant.name}", new_restaurant_review_path(@restaurant), class:"new-review-btn" %>
</section>
